body {
  margin: 0;
  background-color: #d7d7d7;
  font-family: "Gaegu", cursive;
}

.title {
  text-align: center;
}

.main {
  padding: 10px;
  padding-bottom: 60px;
  text-align: center;
}

.question {
  text-align: center;
}

.answers {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  /* height: 100vh; */
}

.voting-button {
  color: #550527;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #550527;
}

.voting-button--selected {
  color: #fff;
  background-color: #550527;
  border: 2px solid white;
}

/* .scorecard {
  background-image: url("./pat-kwon-603556-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100%;
} */

.footer {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #ddd7c9;
  opacity: 0.8;
}

.footer__credits {
  padding: 20px;
}
